@charset "UTF-8";


html,body {
	/*  渐变色背景  */
    background: -moz-linear-gradient(top,  #B3DBFE 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B3DBFE), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #B3DBFE 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #B3DBFE 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #B3DBFE 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #B3DBFE 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B3DBFE', endColorstr='#ffffff',GradientType=0 );


	/*  页面宽度、高度、边距、填空  */
   	width: 100%;
	height: 100%;
	_height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;

	/*  字体、字号  */
	font-family: "Simsun";
	font-size: 14px;
}

.box {
	position: absolute;
	left: 40%;
	top: 40%;
	width: 322px;
}
.box2 {
	position: absolute;
	left: 40%;
	top: 40%;
	
}
